<form action="/create" method="POST">
    <H2>Create Todos</H2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>
    
    <button type="submit" class="btn">Create</button>
</form>